# https://developer.spotify.com/documentation/web-api
CLIENT_ID = "client ID"
CLIENT_SECRET = "client secret"
REDIRECT_URI = "redirect URI"
SCOPE = "scope(s)"
# https://developer.spotify.com/documentation/web-api/concepts/scopes
